<link rel="import" href="./../../bower_components/polymer/polymer.html">
<link rel="import" href="./../../bower_components/paper-slider/paper-slider.html">
<dom-module id="demo-paper-slider">
  <style>
paper-slider{
  width: 100%
}
  </style>
  <template>
    <paper-slider on-change="_changeValue" id="slider" min="{{min}}" max="{{max}}" value="{{value}}"></paper-slider>
    <!-- on-immediate-value-change="changedvalue" -->
    {{value}}
  </template>
</dom-module>

<script>
Polymer({
    is:"demo-paper-slider",
    properties: {
      bobo: {
        type: Number,
        value: 110
      },
      value: {
        type: Number,
        value: 110
      },
      min: {
        type: Number,
        value: 10
      },
      max: {
        type: Number,
        value: 200
      },
      // listeners: {
      //   'slider.click':'_valueChanged'
      // },
    },
    _changeValue: function(e) {
      //console.log(this.$.slider.immediateValue);
      //console.log(this.value);
      //alert('hi '+e);
      this.fire('change');
    }
});
</script>
