<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="flex-layout-demo">
  <style>
  .container {
      background-color: #ccc;
      padding: 5px;
      margin: 0;
    }
    .container > div {
      padding: 15px;
      margin: 5px;
      background-color: white;
      min-height: 20px;
    }
    demo-snippet {
      width: 100%;
    }
    .vertical-section {
      padding: 0 !important;
    }
  </style>
  <template>


  </template>
</dom-module>

<script>
Polymer({
    is:"flex-layout-demo",
    properties: {
    }
    }
});
</script>
